# compiled output
build
dist

# dependencies
node_modules

# environment variables
*.env*
!.env.example

# IDEs and editors
.c9/
.classpath
.idea
.project
.settings/
*.launch
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# miscellaneous
connect.lock
coverage
libpeerconnection.log
npm-debug.log
testem.log
typings
.sass-cache

# system files
.DS_store
Thumbs.db